#
# pin constraints
#
#
# additional constraints
#

NET "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

NET RESET LOC = "AE24"  |  IOSTANDARD = "LVCMOS33"  |  TIG;

NET CLK_N LOC = "AF14"  |  IOSTANDARD = "LVDS_33";
NET CLK_P LOC = "AD14"  |  IOSTANDARD = "LVDS_33";

NET Out_Clock_pin   LOC = "W18" |  IOSTANDARD = "LVCMOS33";
NET Out_Data_pin   LOC = "V18" |  IOSTANDARD = "LVCMOS33";
NET Out_Strobe_pin   LOC = "D18" |  IOSTANDARD = "LVCMOS33";

NET RS232_RX_pin LOC = A21 | IOSTANDARD = LVTTL; 
NET RS232_TX_pin LOC = A20 | IOSTANDARD = LVTTL; 


NET Push_Buttons_TRI_I[0] LOC = "AA23" | IOSTANDARD = "LVCMOS33"; # Up
NET Push_Buttons_TRI_I[1] LOC = "AC23" | IOSTANDARD = "LVCMOS33"; # Left
NET Push_Buttons_TRI_I[2] LOC = "AB24" | IOSTANDARD = "LVCMOS33"; # Middle
NET Push_Buttons_TRI_I[3] LOC = "AA24" | IOSTANDARD = "LVCMOS33"; # Right
NET Push_Buttons_TRI_I[4] LOC = "AC24" | IOSTANDARD = "LVCMOS33"; # Down
