#
# pin constraints
#
#
# additional constraints
#

NET "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;

NET RESET LOC = "AE24"  |  IOSTANDARD = "LVCMOS33"  |  TIG;

NET CLK_N LOC = "AF14"  |  IOSTANDARD = "LVDS_33";
NET CLK_P LOC = "AD14"  |  IOSTANDARD = "LVDS_33";

NET Out_Clock_pin   LOC = "W18" |  IOSTANDARD = "LVCMOS33";
NET Out_Data_pin   LOC = "V18" |  IOSTANDARD = "LVCMOS33";
NET Out_Strobe_pin   LOC = "D18" |  IOSTANDARD = "LVCMOS33";